.view {
    background: url("https://miro.medium.com/max/5560/1*tuUvKrBDaRjG4_ZlZM6s4Q.jpeg")no-repeat center center;
    
    background-size:cover;
    
    
}
.navbar-expand-lg{
     height: 300px;;
}
html,
body,
header{
  height: 100%;
}
h1{
  color:white;
  margin-top: 76px;
  font-family: 'Lilita One', cursive;
}
h5{
  color:white;
  margin-top: 50px;
  font-family: 'Baloo Chettan 2', cursive;
}