.fa-sort:hover{
    color:greenyellow !important;
    font-size: large;
    
}
.form-row{
    padding:30px;
    /* margin-left: 90px; */
}
.search-wrapper{
    margin-top: 90px;
    margin-bottom:0px;
    
}
